*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, rgb(30, 51, 70), rgb(71, 95, 117));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.conatiner{
    position: relative;
}
.clock{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid  #ffffff;
    box-shadow: 20px 30px 30px rgb(30, 51, 70 ,4);
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg *var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;
}